<!-- Elements added to "home.html" will only be displayed on the home page -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}


<!-- Stole this styling from the "up42-py" project (link: https://sdk.up42.com/) -->
<!-- .tx-container Original Green Gradient: hsla(160deg,47%,55%,1) -->
<style>
    .md-main {
        flex-grow: 0;
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }

    .tx-container {
        padding-top: .0rem;
        background: linear-gradient(to bottom, var(--md-primary-fg-color), {{ config.home_gradient_hsla }} 100%);
    }

    .tx-hero {
        display: flex;
        color: black;
        flex-wrap: wrap; /* Ensure content wraps properly */
        align-items: center; /* Center content vertically */
        justify-content: space-between; /* Push content to the sides */
        margin: 32px 2.8rem;
        color: var(--md-primary-bg-color);
    }

    .tx-hero__content {
        color: black;
        flex: 1; /* Take up remaining space */
        padding-right: 2.5rem; /* Add space between content and image */
    }

    .tx-hero__image {
        flex: 0 0 auto; /* Prevent image from growing */
        order: 2; /* Move image to the right on larger screens */
    }

    .tx-hero__image img {
        width: 17rem;
        height: 17rem;
    }

    .tx-hero__content h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700;
    }

    .tx-hero__content p {
        padding-bottom: 1rem;
        margin: 0;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        background-color: #660099;
        color: white;
        border-color: #660099;
    }

    .tx-hero .md-button--primary {
        background-color: #aa00ff;
        color: white;
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: #aa00ff;
        color: white;
        border-color: #aa00ff;
    }

    .ribbon-container {
        background-color: #660099;
        color: white;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .top-hr {
    display: flex;
    flex-wrap: wrap; /* Adjust to wrap the ribbon sections */
    justify-content: space-between;
}

/* Media query for desktop */
@media (min-width: 768px) {
    .top-hr {
        width: 55%; /* Set the width to 75% on desktop */
        margin: 0 auto; /* Center the ribbon horizontally */
    }
}


    .feature-item {
        flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
        background-color: #660099;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: .5rem;
        margin-right: .5rem;
    }

    .feature-item img {
        display: block;
        margin: 0 auto 10px; /* Adjust margin-bottom as needed */
        max-width: 100%;
        height: auto;
    }

    .feature-item h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 24px; /* Adjust the size as needed */
    }

    .feature-item .description {
        font-size: 16px; /* Adjust the size as needed */
        margin-top: 10px; /* Adjust margin-top as needed */
    }

    .md-footer-meta__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1.0rem;
    }

    .md-footer-social {
        padding-top: 20px;
    }

    .panel__content {
        padding: 20px;
    }

    .panel__box {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .panel__heading {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .panel__description p {
        font-size: 16px;
        line-height: 1.6;
    }

    .panel__picture {
        text-align: center;
    }

    .panel__image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 992px) {
        .feature-item {
            flex: 0 0 calc(50% - 20px); /* Adjust width to stack on smaller screens */
            margin-bottom: 20px; /* Add margin between stacked items */
        }
    }

    /* For mobile */
    @media screen and (max-width: 767px) {
        .tx-hero__image {
            order: 1; /* Move image to the top on smaller screens */
            margin-bottom: 20px; /* Add space between image and content */
        }

        .tx-hero__content {
            order: 2; /* Move content below image on smaller screens */
        }
    }
</style>


<!-- Main site entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <!-- Main Tagline -->
            <div class="tx-hero__content">
                <h1>{{ config.home_tagline }}</h1>
                <p>{{ config.home_description }}</p>
                <!-- Added Buttons (up to 3) -->
                {%- if config.home_button1_name -%}
                <a href="{{ config.home_button1_url }}" title="Material | MkDocs" class="{{ config.home_button1_theme }}">
                    {{ config.home_button1_name }}
                </a>
                {%- endif -%}
                {%- if config.home_button2_name -%}
                <a href="{{ config.home_button2_url }}" title="Material | MkDocs" class="{{ config.home_button2_theme }}">
                    {{ config.home_button2_name }}
                </a>
                {%- endif -%}
                {%- if config.home_button3_name -%}
                <a href="{{ config.home_button3_url }}" title="Material | MkDocs" class="{{ config.home_button3_theme }}">
                    {{ config.home_button3_name }}
                </a>
                {%- endif -%}
            </div>
            <!-- Custom Image -->
            <div class="tx-hero__image">
                <img src="{{ config.home_cover_image }}" draggable="false">
            </div>
        </div>
    </div>
</section>




<div class="ribbon-container">
    <div class="top-hr">
        <!-- Start Outer Condition -->
        <div class="feature-item">
            <h2>1300+ Chips</h2>
            <img src="https://raw.githubusercontent.com/SitekickRemastered/Docs/main/site/images/home/chipanimation_v3.gif" alt="1300+ Chips">
            <p class="description">Nearly every chip is being restored for use in Sitekick Remastered. We’ll continue to create and add new chips with every update.</p>
        </div>

        <div class="feature-item">
            <h2>Built in Unity</h2>
            <img src="https://raw.githubusercontent.com/SitekickRemastered/Docs/main/site/images/home/fix-it.png" alt="Built in Unity">
            <p class="description">No longer limited to Flash, Sitekick Remastered is built in Unity. This means better load times, better security, and support for more platforms.</p>
        </div>

        <div class="feature-item">
            <h2>Produced by Fans</h2>
            <img src="https://raw.githubusercontent.com/SitekickRemastered/Docs/main/site/images/home/heart-1.png" alt="Produced by Fans">
            <p class="description">Sitekick Remastered is paid for, developed by, and maintained by the players of the original game.</p>
        </div>
        <!-- End Outer Condition -->
    </div>
</div>

<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <!-- Main Tagline -->
            <div class="tx-hero__content">
                <h1>Multi-Device Support</h1>
                <p>Sitekick Remastered is available on Google Play, the Microsoft Store, and Xbox.  MacOS/Linux users are able to play through an Android Emulator.  iOS support is not planned at this time.</p>
            </div>
            <!-- Custom Image -->
            <div class="tx-hero__image">
                <img src="https://raw.githubusercontent.com/SitekickRemastered/Docs/main/site/images/home/devices.png" draggable="false">
            </div>
        </div>
    </div>
</section>

<!-- Place this script just before the closing </body> tag -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get all elements with the class 'md-main'
        var mdMainElements = document.getElementsByClassName('md-main');
    
        // Loop through each element and hide it
        for (var i = 0; i < mdMainElements.length; i++) {
            mdMainElements[i].style.display = 'none';
        }
    });
    </script>
    
<!-- Toggleable JavaScript execution -->
{%- if config.home_execute_js -%}
<script>
document$.subscribe(function() {
  console.log("'home_execute_js' is enabled:");
  {{ config.home_execute_js }}
}).unsubscribe();
</script>
{%- endif -%}


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}