.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0rem;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 30%;
  padding-bottom:1rem;
}

.searchInput, .infoInput {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #EEE;
  color: #000;
  border: 2px solid var(--ytv-purple);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.infoInput {
  border-radius: 0.5rem;
}

.infoLabel {
  display: block;
}

.searchDropdown {
  font-size: 1rem;
  padding: .375rem .75rem;
  background-color: #CCC;
  color: #000;
  border: 2px solid var(--ytv-purple);
  cursor: pointer;
}

.searchDropdown:hover {
  filter: brightness(70%);
}

.searchBtn {  
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #CCC;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 2px solid var(--ytv-purple);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.searchBtn:hover {
  background-color: var(--ytv-purple);
  color: #FFF;
}

.emptyListText {
  padding-top: 1rem;
  text-align: center;
}

.altTableContainer, .badgeTableContainer, .banTableContainer {
  max-width: 80%;
  width: 80%;
}

.accordionInput {
  display: none;
}

.accordionLabel {
  display: block;    
  position: relative;
  font-family: "CCSmash";
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: var(--ytv-purple);
  color: #FFF;
  transition: ease .5s;
}

.accordionLabel:hover {
  background: var(--ytv-green);
  color: #000;
}

.accordionLabel:after {
  content: '+';
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: -5px;
}

.accordionInput:checked + .accordionLabel:after {
  content: '-';
  right: 16px;
  top: -6px;
}

.accordionContent {
  background: unset;
  padding: 10px 25px;
  border: 1px solid #CCC;
}

.accordionInput + .accordionLabel + .accordionContent {
  display: none;
}

.accordionInput:checked + .accordionLabel + .accordionContent {
  display: block;
}

.listTableContainer {
  width: 90%;
}

.listTable {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

.listTable > tbody > tr > td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.listTable button, .changePlayerInfoBtn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

.viewDetailsBtn {
  color: #FFF;
  background-color: #007BFF;
  border-color: #007BFF;
}

.editInfoBtn, .changePlayerInfoBtn {
  color: #212529;
  background-color: #E0A800;
  border-color: #D39E00;
}

.changePlayerInfoBtn {
  display: flex;
  margin: auto;
}

.viewDetailsBtn:hover, .editInfoBtn:hover, .changePlayerInfoBtn:hover {
  filter: brightness(60%);
}

.playerDetailsContainer {
  width: 30rem;
  margin: 10px 0;
  padding: 10px;
  background: #02131A;
  border: 1px solid rgba(255,255,255,0.15);
  font-size: 0.9em;
}

.playerDetailsImg {
  float: left;
  position: relative;
  width: 75px;
  height: 75px;
  margin: 5px 10px 5px 0;
  padding: 1px;
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 50%;
  clear: both;
}

.playerDetailsName {
  margin: 1px 0 40px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  word-break: break-word;
  font-size: 1.5em;
  line-height: 1.8em;
}

.playerDetailsInfoBlock {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.playerDetailsValue {
  float: right;
  color: #6E7879;
}

.actionsModal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContainer {
  position: relative;
  width: 50%;
  top: 45%;
  transform: translateY(-45%);
  background-color: #242526;
  margin: auto;
  padding: 0;
  border: 1px solid #CCC;
}

.modalHeader {
  padding: 0.75rem 1rem;
  background-color: #242526;
  color: #000;
}

.modalTitle {
  margin: 0;
}

.closeModal {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  margin-top: -0.5rem;
}

.closeModal:hover, .closeModal:focus {
  color: var(--ytv-purple);
  text-decoration: none;
  cursor: pointer;
}

.modalBody {
  padding: 1.5rem;
}

.actionsContainer {
  display:flex;
  flex-direction: column;
  min-height: calc(70vh);
  margin-left: 1rem;
  /*min-height: calc(100vh - 11vh);*/
}

.actionsCard {
  text-align: center;
  border-radius: 25px;
  border: 2px solid var(--text-colour);
  padding: 1rem;
  margin: 0rem 1rem;
  margin-bottom: 1rem;
  min-width: 25%;
}


.actionsCard hr {
  background-color: var(--ifm-hr-background-color);
  border: 0;
  height: var(--ifm-hr-height);
  margin: 1rem 0rem 0.5rem 0rem;
}