.downloadMain {
  /*background-color: var(--ifm-hero-background-color) !important;*/
  background: var(--bg-splash);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -7rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* 
  This isn't *truely* centred vertically, but it looks better 
  since the antenna makes the content look lower than it is 
*/
.downloadInner{
  margin-top: 5rem;
  width: 80%;
  display: flex;
  align-items: center;
}

.downloadContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.downloadLogo {
  aspect-ratio: 473 / 247;
  width: 35%;
}

.slogan {
  color: #FFF;
  font-size: 2.25rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.downloadInfoDiv{
  background-color: #000;
  color: #FFF;
  width: 35%;
  text-align: center;
  font-size: 1.1rem;
  padding: 2rem;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.downloadInfoDiv p {
  margin: 0;
}

.downloadButtonContainer{
  display: flex;
  margin-top: 2rem;
}

.platformBlock {
  z-index: 10;
  margin: 0px 1rem;
}

@media screen and (max-width: 996px) {
  .downloadMain {
    margin-top: 0;
    min-height: calc(100vh - 5rem);
  }
  
  .downloadInner {
    width: 85%;
    margin-top: 0.5rem;
  }
  
  .downloadLogo {
    width: 100%;
  }
  
  .slogan {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .downloadInfoDiv{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 1.25rem;
    margin-bottom: 1rem;
  }

  .alertFont p {
    margin: 0;
  }

  .downloadButtonContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .platformBlock {
    scale: 1;
  }

}

@media screen and (min-width: 2000px) {
  .downloadMain {
    margin-top: -12rem;
  }
  
  .downloadInner {
    margin-top: 10rem;
  }
  
  .downloadLogo {
    width: 40%;
  }
  
  .slogan {
    font-size: 3rem;
    -webkit-text-stroke-width: 3px;
  }
  
  .downloadInfoDiv{
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  .alertFont {
    font-size: 1.75rem;
  }

  .downloadButtonContainer{
    margin-top: 6rem;
  }

  .platformBlock {
    scale: 1.75;
    margin: 0px 6.5rem;
  }
}

@media screen and (min-width: 4000px) {
  .downloadMain {
    margin-top: -14rem;
  }
  
  .slogan {
    font-size: 5rem;
    -webkit-text-stroke-width: 5px;
  }
  
  .downloadInfoDiv{
    font-size: 2.6rem;
    margin-bottom: 4rem;
  }

  .alertFont {
    font-size: 2.6rem;
  }

  .platformBlock {
    scale: 2.5;
    margin: 0px 12rem;
  }
}