.downloadMain {
  /*background-color: var(--ifm-hero-background-color) !important;*/
  background: var(--bg-splash);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -7rem;
  color: var(--ifm-hero-text-color);
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  min-height: calc(100vh)
}

.downloadInner {
  width: 80%;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.downloadLogo {
  width: 40%;
}

.slogan {
  color: #FFF;
  font-size: 2.25rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.downloadInfoDiv{
  background-color: #000;
  color: #FFF;
  width: 30%;
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.downloadInfoDiv p {
  margin: 0;
}

.downloadButtonContainer{
  display: flex;
  margin-top: 20px;
}

.platformBlock {
  z-index: 10;
  margin: 0px 10px;
}