@keyframes float {
  from { transform: translateY(0) }
  to { transform: translateY(1rem) }
}

@keyframes float-inverse {
  from { transform: translateY(0) }
  to { transform: translateY(-1rem) }
}

.heroBanner {
  width: 80%;
  margin: 2rem auto;
}

.lOrder {
  order: 1;
}

.rOrder {
  order: 2;
}

.spacer {
  padding: 0px 10px;
}

.hero_title {
  font-size: 2.5rem;
}

.hero_subtitle {
  font-size: 1.125rem;
}

.heroPanelPicture {
  display: flex;
  width: 100%;
  position: relative;
}

.heroPanelBlob {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  position: relative;
}

.heroPanelSitekick {
  animation-direction: alternate;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  min-width: 35%;
  max-width: 35%;
}

.heroPanelSitekickLeft {
  animation-name: float;
  /* Legitimately don't ask me how this works */
  top: calc(50% - max(13vw, 13vh)); 
  left: 10%;
}

.heroPanelSitekickRight {
  animation-name: float-inverse;
  /* Like, seriously. No clue. */
  bottom: calc(50% - max(10vw, 10vh));
  right: 15%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    width: 100%;
    margin: 0px 0px;
    align-items: center;
    border-radius: 0px;
    padding: 0rem;
    word-wrap: normal;
  }

  .homeRow {
    margin: 0;
  }

  .lOrder {
    order: 2;
  }

  .rOrder {
    order: 1;
  }

  .spacer {
    padding: 0px;
  }

  .hero_title {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }

  .hero_subtitle {
    font-size: 1.1rem;
    padding: 0px 30px;
  }

  .heroPanelBlob {
    width: 70%;
    margin-top: 20px;
  }

  .heroPanelSitekick {
    min-width: 25%;
    max-width: 25%;
  }

  .heroPanelSitekickLeft {
    top: 0%;
    left: 20%;
  }

  .heroPanelSitekickRight {
    right: 25%;
    bottom: 10%;
  }
}

@media screen and (max-width: 498px) {

  .hero_title {
    font-size: 1.75rem !important;
  }

  .hero_subtitle {
    font-size: 1rem !important;
    padding: 0;
  }

  .heroPanelBlob {
    width: 100%;
  }

  .heroPanelSitekick {
    min-width: 35%;
    max-width: 35%;
  }



  .heroPanelSitekickLeft {
    left: 15%;
  }

  .heroPanelSitekickRight {
    right: 17%;
  }
}

@media screen and (min-width: 2000px) {

  .heroBanner {
    width: 60%;
    margin: 2rem auto;
  }

  .heroPanelSitekickLeft {
    top: calc(50% - max(10vw, 10vh));
  }

  .heroPanelSitekickRight {
    bottom: calc(50% - max(8vw, 8vh));
  }
}


@media screen and (min-width: 4000px) {

  .hero_title {
    font-size: 3rem;
  }

  .hero_subtitle {
    font-size: 2rem;
  }
}