
@keyframes float {
  0% {
    transform:translateY(0)
  }
  to {
    transform:translateY(1rem)
  }
}

@keyframes float-inverse {
  0% {
    transform:translateY(0)
  }
  to {
    transform:translateY(-1rem)
  }
}

.heroBanner {
	width: 80%;
  margin:auto;
  margin-top:20px;
  margin-bottom: 20px;
  align-items: center;
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
  border-radius: 25px;
  padding: 2rem;
  word-wrap: normal;
}

.lOrder { order: 1; }
.rOrder { order: 2; }

.hero_title {
  font-size: 2.25rem;
}

.hero_subtitle {
  font-size: 1.25rem;
}

.heroPanelPicture {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.heroPanelImage {
  display: block;
  width: 90%;
  margin: auto;
}

.heroPanelSitekick {
  animation-direction: alternate;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  max-width: 9rem;
}

.heroPanelSitekickLeft {
  animation-name: float;
  left: 4rem !important;
  top: -2rem !important;
}

.heroPanelSitekickRight {
  animation-name: float-inverse;
  bottom: 5rem !important;
  right: 5rem !important;
}

@media screen and (min-width: 2000px) {
  .hero_title {
    font-size: 5rem;
  }
  
  .hero_subtitle {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    width: 100%;
    margin:0px 0px;
    align-items: center;
    border-radius: 0px;
    padding: 0rem;
    padding-bottom: 20px;
    word-wrap: normal;
  }

  .homeRow {
    margin: 0;
  }

  .lOrder { order: 2; }
  .rOrder { order: 1; }

  .hero_title {
    font-size: 1.75rem;
    text-align: center;
    margin-top:20px;
  }
  
  .hero_subtitle {
    font-size: 1rem;
    padding:0px 30px;
  }
  
}
