:root {
  --feature-card-margin-modifier: 5px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background-image: var(--bg-splash);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

.features div {
  width: 80%;
}

.featureCard {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  font-size: 1.25rem;
}

.featureCard:first-child {
  margin-right: var(--feature-card-margin-modifier);
}

.featureCard:nth-child(2) {
  margin: 0px var(--feature-card-margin-modifier);
}

.featureCard:last-child {
  margin-left: var(--feature-card-margin-modifier);
}

.featureImg {
  min-width: 10rem;
  width: 10vw;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 996px) {

  .featureCard:first-child,
  .featureCard:nth-child(2),
  .featureCard.featureCard:last-child {
    margin: var(--feature-card-margin-modifier) 0px;
  }

  .featureCard {
    border-radius: 40px;
    font-size: 1.1rem;
  }

  .featureCard h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 498px) {
  .featureCard {
    font-size: 1rem;
  }

  .featureImg {
    min-width: 7rem;
    width: 7vw;
  }

  .featureCard h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2000px) {
  :root {
    --feature-card-margin-modifier: 10px;
  }

  .features div {
    width: 60%;
  }

  .featureCard {
    border-radius: 40px;
    font-size: 1.25rem;
  }

  .featureImg {
    min-width: 7rem;
    width: 7vw;
    height: auto;
    margin-bottom: 10px;
  }

  .featureCard h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 4000px) {
  :root {
    --feature-card-margin-modifier: 15px;
  }

  .featureCard {
    font-size: 2rem;
  }

  .featureImg {
    min-width: 7rem;
    width: 7vw;
    height: auto;
    margin-bottom: 10px;
  }

  .featureCard h1 {
    font-size: 3.5rem;
  }
}