.featureCard {
  background:rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px;
  font-size:1.25rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background-image: var(--bg-splash);
  color: #FFF;
}

.featureImg {
  height: 12rem;
  width: 12rem;
  margin-bottom: 10px;
}
