.featureCard {
  background:rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px;
  font-size:1.25rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background-image: var(--bg-splash);
  color: #FFF;
}

.featureImg {
  min-width: 10rem;
  width: 10vw;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 2000px) {
  .featureCard {
    border-radius: 40px;
    margin: 10px;
    font-size:2rem;
  }

  .featureCard h1 {
    font-size:4rem;
  }
}

@media screen and (min-width: 4000px) {
  .featureCard {
    margin: 10px;
    font-size:3rem;
  }

  .featureCard h1 {
    font-size:5rem;
  }
}