/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --bg-splash: url("/static/img/bg_splash.png");
  --ifm-hero-background-color: #eee;
  --text-colour: #000;
  --rev-text-colour: #FFF;
  --subtle: #767676;
  --ytv-green: rgb(104, 194, 8);
  --ytv-purple: rgb(74, 42, 169);
  --custom-green: rgb(126, 190, 32);
  --custom-purple: rgb(126, 32, 190);
  --other-purple: rgb(153, 0, 204);
  --a-tag-colour: var(--custom-purple);

  --ytv-container-orange: rgb(255, 153, 0);
  --ytv-container-orange-highlight: rgb(255, 204, 51);
  --ytv-container-orange-shadow: rgb(108, 40, 0);

  --ytv-container-purple: rgb(153, 0, 204);
  --ytv-container-purple-highlight: rgb(204, 153, 255);
  --ytv-container-purple-shadow: rgb(102, 0, 153);

  --ytv-container-green: rgb(44, 172, 0);
  --ytv-container-green-highlight: rgb(162, 215, 16);
  --ytv-container-green-shadow: rgb(31, 120, 0);

  --ytv-container-inner-green: rgb(162, 215, 16);
  --ytv-container-inner-green-shadow: rgb(113, 150, 11);
  --ytv-container-inner-yellow: rgb(255, 204, 51);
  --ytv-container-inner-yellow-shadow: rgb(178, 142, 36);
  --ytv-container-inner-purple: rgb(204, 153, 255);
  --ytv-container-inner-purple-shadow: rgb(142, 107, 178);

  --ytv-grid: url(/static/img/grid.png), linear-gradient(#9ad40e, #31ae00);
  --ytv-container-text-colour: #000;

  --game-text-colour: rgb(0, 51, 0);
  --game-light-green: rgb(94, 190, 6);
  --game-green: rgb(162, 215, 16);

  --sitekick-yellow: rgb(255, 204, 0);
  --sitekick-yellow-dark: rgb(230, 184, 0);
  --sitekick-yellow-darker: rgb(217, 173, 0);
  --sitekick-yellow-darkest: rgb(179, 143, 0);
  --blurple: #5865f2;
  --ifm-button-size-multiplier: 1.1;
  --ifm-navbar-item-padding-horizontal: 1rem;
  --ifm-button-padding-horizontal: 1rem;
  --ifm-transition-fast: 3ms;
  --ifm-transition-slow: 3ms;
  --ifm-navbar-sidebar-width: 320px;
}

[data-theme='dark'] {
  --ifm-hero-background-color: #242526;
  --text-colour: #FFF;
  --rev-text-colour: #000;
  --a-tag-colour: var(--custom-green);
  --ytv-grid: #242526;
  --ytv-container-inner-green: #242526;
  --ytv-container-inner-purple: #242526;
  --ytv-container-text-colour: #FFF;
  --game-text-colour: #FFF;
  --game-light-green: rgba(255, 255, 255, 0.1);
  --game-green: #242526;
}

@font-face {
  font-family: "CCSmash";
  src: url("/static/fonts/CCSmash.ttf") format("truetype");
}

@keyframes spark {
  0% {
    background: url("/static/img/sparks/spark1.svg") no-repeat;
    background-size: contain;
    background-position: center;
  }

  33% {
    background: url("/static/img/sparks/spark2.svg") no-repeat;
    background-size: contain;
    background-position: center;
  }

  66% {
    background: url("/static/img/sparks/spark3.svg") no-repeat;
    background-size: contain;
    background-position: center;
  }

  100% {
    background: url("/static/img/sparks/spark4.svg") no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@keyframes navColourFade {
  0% { color: #144f00; }
  67% { color: #FFF; }
  78% { color: #ccff99; }
  89% { color: #339900; }
  99% { color: #000; }
}

#__docusaurus {
  background-color: var(--ifm-hero-background-color);
  color: var(--text-colour);
  word-wrap: normal;
}

.main-wrapper {
  flex: 0 !important;
}

p a,
main a,
.breadcrumbs__link,
.sidebarItemLink_mo7H:hover,
.menu__link--active {
  color: var(--a-tag-colour) !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
summary {
  font-family: "CCSmash";
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.fontsize-1 { font-size: 1rem; }
.fontsize-1_25 { font-size: 1.25rem; }
.fontsize-1_5 { font-size: 1.5rem; }
.fontsize-1_75 { font-size: 1.75rem; }
.fontsize-2 { font-size: 2rem; }
.fontsize-2_25 { font-size: 2.25rem; }
.fontsize-2_5 { font-size: 2.5rem; }
.fontsize-2_75 { font-size: 2.75rem; }
.fontsize-3 { font-size: 3rem; }
.fontsize-3_25 { font-size: 3.25rem; }
.fontsize-3_5 { font-size: 3.5rem; }
.fontsize-3_75 { font-size: 3.75rem; }

.p-0 { padding: 0; }
.m-0 { margin: 0; }
.m-auto { margin: auto; }

.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.m-1 { margin: 1rem; }
.m-2 { margin: 2rem; }
.m-3 { margin: 3rem; }

.m-a0 { margin: auto 0rem; }
.m-a1 { margin: auto 1rem; }
.m-a2 { margin: auto 2rem; }
.m-a3 { margin: auto 3rem; }
.m-0a { margin: 0rem auto; }
.m-1a { margin: 1rem auto; }
.m-2a { margin: 2rem auto; }
.m-3a { margin: 3rem auto; }

.mt-0 { margin-top: 0rem; }
.mr-0 { margin-right: 0rem; }
.mb-0 { margin-bottom: 0rem; }
.ml-0 { margin-left: 0rem; }
.mt-1 { margin-top: 1rem; }
.mr-1 { margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.ml-1 { margin-left: 1rem; }
.mt-2 { margin-top: 2rem; }
.mr-2 { margin-right: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.ml-2 { margin-left: 2rem; }
.mt-3 { margin-top: 3rem; }
.mr-3 { margin-right: 3rem; }
.mb-3 { margin-bottom: 3rem; }
.ml-3 { margin-left: 3rem; }

.mx-1 { margin: 0 1rem; }
.mx-2 { margin: 0 2rem; }
.mx-3 { margin: 0 3rem; }

.my-1 { margin: 1rem 0; }
.my-2 { margin: 2rem 0; }
.my-3 { margin: 3rem 0; }

.pt-0 { padding-top: 0rem; }
.pr-0 { padding-right: 0rem; }
.pb-0 { padding-bottom: 0rem; }
.pl-0 { padding-left: 0rem; }
.pt-1 { padding-top: 1rem; }
.pr-1 { padding-right: 1rem; }
.pb-1 { padding-bottom: 1rem; }
.pl-1 { padding-left: 1rem; }
.pt-2 { padding-top: 2rem; }
.pr-2 { padding-right: 2rem; }
.pb-2 { padding-bottom: 2rem; }
.pl-2 { padding-left: 2rem; }
.pt-3 { padding-top: 3rem; }
.pr-3 { padding-right: 3rem; }
.pb-3 { padding-bottom: 3rem; }
.pl-3 { padding-left: 3rem; }

.w-100 { width: 100% !important; }
.w-90 { width: 90% !important; }
.w-80 { width: 80% !important; }
.w-70 { width: 70% !important; }
.w-60 { width: 60% !important; }
.w-50 { width: 50% !important; }
.w-40 { width: 40% !important; }
.w-30 { width: 30% !important; }
.w-20 { width: 20% !important; }

.border-radius-25 { border-radius: 25%; }
.border-radius-50 { border-radius: 50%; }

.d-flex { display: flex !important; }
.d-inline-table { display: inline-table !important; }

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.reg-page-size {
  min-height: calc(100vh - 300px);
}

summary {
  font-size: 1.2rem;
}

.homeBg {
  background-color: #000 !important;
  margin: 0;
}

.ytvContainer {
  border-radius: 25px;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--ytv-container-text-colour);
}

.ytvContainerInner {
  width: 100%;
  height: 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border: 0.25rem solid black;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0px 1rem 0.4rem inset rgb(0, 0, 0, 0.3);
}

.ytvContainer.orange {
  box-shadow:
    0rem 0rem 0rem 0.25rem inset #000,
    0rem -0.65rem 0.4rem inset var(--ytv-container-orange-shadow),
    0rem 1rem 0.4rem inset var(--ytv-container-orange-highlight),
    0rem 0.4rem 0rem 50rem inset var(--ytv-container-orange)
}

.ytvContainerInner.orange {
  /*background-color: var(--ifm-hero-background-color);*/
  background-color: var(--ytv-container-inner-green);
  /*box-shadow: 0px 15px 5px inset var(--ytv-container-inner-green-shadow);*/
  /*background: var(--ytv-grid);*/

}

.ytvContainer.purple {
  box-shadow:
    0rem 0rem 0rem 0.25rem inset #000,
    0rem -0.65rem 0.4rem inset var(--ytv-container-purple-shadow),
    0rem 1rem 0.4rem inset var(--ytv-container-purple-highlight),
    0rem 0.4rem 0rem 50rem inset var(--ytv-container-purple);
}

.ytvContainerInner.purple {
  /*background-color: var(--ifm-hero-background-color);*/
  /*box-shadow: 0px 15px 5px inset var(--ytv-container-inner-purple-shadow);*/
  background-color: var(--ytv-container-inner-purple);
}

.ytvContainer.green {
  box-shadow:
    0rem 0rem 0rem 0.25rem inset #000,
    0rem -0.65rem 0.4rem inset var(--ytv-container-green-shadow),
    0rem 1rem 0.4rem inset var(--ytv-container-green-highlight),
    0rem 0.4rem 0rem 50rem inset var(--ytv-container-green);
}

.ytvContainerInner.green {
  /*background-color: var(--ifm-hero-background-color);*/
  /*box-shadow: 0px 15px 5px inset var(--ytv-container-inner-green-shadow);*/
  background-color: var(--ytv-container-inner-green);
}

.modalOverlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContainer {
  max-height: 80vh;
  position: relative;
  width: 50%;
  top: 45%;
  transform: translateY(-45%);
  background-color: #242526;
  margin: auto;
  padding: 0;
  border: 1px solid #CCC;
}

.modalHeader {
  padding: 0.75rem 1rem;
  background-color: #242526;
  color: #000;
}

.modalHeader.light {
  color: #FFF;
}

.modalTitle {
  margin: 0;
}

.closeModal {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  margin-top: -0.5rem;
}

.closeModal.light {
  color: #FFF;
}

.closeModal:hover, .closeModal:focus {
  color: var(--ytv-purple);
  text-decoration: none;
  cursor: pointer;
}

.modalBody {
  max-height: calc(80vh - 3.375rem);
  padding: 1.5rem;
  overflow: auto;
}

.modalBody.overflow--visible {
  overflow: visible !important;
}

.inputGroup {
  display: flex;
  align-items: stretch;
}

.input--bootstrap {
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #EEE;
  color: #000;
  border: 2px solid var(--ytv-purple);
  border-radius: 0.5rem;
}

.inputGroup .input--bootstrap {
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.input--bootstrap.sm {
  width: 25%;
}

.input--label {
  display: block;
}

/*#region Navbar*/
.navbar--fixed-top {
  background: var(--bg-splash);
  background-size: cover;
  background-repeat: no-repeat;
  height: 6rem;
}

.navbar__inner {
  background: linear-gradient(180deg,
      rgba(158, 218, 28, .9) 5%,
      rgba(255, 255, 255, .9) 15%,
      rgba(158, 218, 28, .9) 25%,
      rgba(126, 190, 32, .9) 40%,
      rgba(158, 218, 28, .9) 85%,
      rgba(120, 161, 39, .9) 90%,
      rgba(56, 109, 21, .9) 95%);
  flex-wrap: nowrap;
  position: absolute;
  height: 2.5rem;
  top: 3.5rem;
  left: 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 1rem;
}

.navbar__items {
  margin-left: 3vw;
  margin-right: 3vw;
}

.navbar__logo {
  height: 100%;
}

.navbar__logo img {
  aspect-ratio: 473 / 247;
  width: 14rem;
  height: auto;
}

.navbar__link {
  height: 100%;
  font-family: "CCSmash";
  color: #134900;
}

.navbar__link:hover {
  color: #000;
}

.navbar__link--active {
  color: #FFF;
  background: linear-gradient(180deg,
      rgba(153, 0, 204, .9) 5%,
      rgba(238, 185, 255, .9) 15%,
      rgba(153, 0, 204, .9) 25%,
      rgba(115, 0, 116, .9) 40%,
      rgba(153, 0, 204, .9) 85%,
      rgba(115, 0, 116, .9) 90%,
      rgba(102, 0, 153, .9) 95%) !important;
}

.navbar__item:hover:not(.dropdown--hoverable):not(.navbar__link--active) {
  transform: scale(1.2);
  animation: spark 0.3s infinite, navColourFade 0.15s;
}

.dropdown__menu {
  width: 100%;
  border: 5px solid var(--a-tag-colour);
}

.dropdown__link {
  font-family: "CCSmash";
  font-size: 1.1rem;
}

.dropdown__menu>li:not(:last-child) {
  border-bottom: 2px solid var(--a-tag-colour);
}

.dropdown__link--active {
  color: var(--a-tag-colour);
}

.dropdown__link--active:hover {
  color: var(--a-tag-colour);
}

.navbar-sidebar__back {
  top: 0 !important;
  margin-bottom: 0 !important;
}

.toggleIcon_g3eP {
  color: #134900 !important;
}

.toggleButton_gllP:hover {
  background: #ebdef0 !important;
}

.navbar__search-input {
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  background: #134900 var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem !important;
  color: #FFF !important;
  height: 1.5rem !important;
  opacity: 0.9;
}

.navbar-sidebar {
  background-color: var(--ytv-container-inner-green);
  max-height: 100vh;
  overflow-y: hidden;
}

.navbar-sidebar__brand {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding-right: 1.5rem
}

.navbar-sidebar__brand {
  background-color: var(--ytv-container-orange);
  border-bottom: 4px solid #000;
}

.navbar-sidebar__brand .navbar__brand {
  min-width: 0;
  margin: 0;
}

.navbar-sidebar__brand .toggle_vylO {
  display: flex;
  justify-content: center;
}

.navbar-sidebar__brand .navbar-sidebar__close {
  margin: 0;
}

.navbar-sidebar__brand .navbar-sidebar__close svg g {
  stroke: #000 !important;
}

.navbar-sidebar .navbar__logo {
  width: 6.5rem;
  margin-left: 0;
}

.navbar-sidebar__item {
  width: 100%;
  padding: 0;
}

.navbar-sidebar .menu__list-item {
  min-width: 100%;
  min-height: 3rem;
  margin-top: 0 !important;
}

.navbar-siderbar .menu__link--sublist {
  padding-top: 0.7rem;
}

.navbar-sidebar .menu__link {
  color: var(--game-text-colour);
  min-height: 3rem;
}

.navbar-sidebar .menu__list-item:nth-child(odd):not(.menu__list-item ul li) {
  background-color: var(--game-green) !important;
}

.navbar-sidebar .menu__list-item:nth-child(even):not(.menu__list-item ul li) {
  background-color: var(--game-light-green) !important;
}

/* Dropdown child elements */
.navbar-sidebar .menu__list-item ul {
  min-width: 100%;
  padding-right: var(--ifm-menu-link-padding-horizontal) !important;
  margin-top: 0
}

.navbar-sidebar .menu__list-item ul li {
  background-color: none !important;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

/* 
.navbar-sidebar .menu__list-item ul li:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
*/

.navbar-sidebar .menu__link--active {
  background-color: rgba(0, 0, 0, 0) !important;
}

.menu__link {
  font-family: "CCSmash";
}

/*#endregion Navbar*/

/*#region Buttons*/
.button {
  background: linear-gradient(135deg, #fdd76d 25%, #fcbd0c 40%);
  border-width: 0.8rem;
  border-style: solid;
  border-top-color: #fcbd0c;
  border-right-color: #ffa017;
  border-bottom-color: #e76900;
  border-left-color: #fcbd0c;
  font-size: calc(1rem * var(--ifm-button-size-multiplier));
  color: #c00 !important;
  font-family: "CCSmash";
  outline: 4px solid black;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(135deg, #b38402 25%, #b78702 40%);
  border-top-color: #b78702;
  border-right-color: #c37300;
  border-bottom-color: #a24900;
  border-left-color: #b78702;
  color: #8f0000;
}

.button:focus {
  outline: 4px solid black !important;
}

button.sm, button--flat.sm {
  --ifm-button-size-multiplier: 0.75;
  border-width: 0.5rem !important;
}

button.lg, button--flat.lg {
  --ifm-button-size-multiplier: 1.25;
}

.button.red {
  background: linear-gradient(135deg, #ff6666 25%, #F00 40%);
  border-top-color: #F00;
  border-right-color: #ca0000;
  border-bottom-color: #900;
  border-left-color: #F00;
  color: #FFF !important;
}

.button.red:hover {
  background: linear-gradient(135deg, #800 25%, #800 40%);
  border-top-color: #800;
  border-right-color: #650000;
  border-bottom-color: #4d0000;
  border-left-color: #800;
  color: #808080 !important;
}

.button.blurple {
  background: linear-gradient(135deg, #737fff 25%, #5865f2 40%);
  border-top-color: #5865f2;
  border-right-color: #2f3fef;
  border-bottom-color: #041185;
  border-left-color: #5865f2;
  color: #FFF !important;
}

.button.blurple:hover {
  background: linear-gradient(135deg, #0c1796 25%, #0c1899 40%);
  border-top-color: #0c1796;
  border-right-color: #0a1482;
  border-bottom-color: #020841;
  border-left-color: #0c1796;
  color: #808080 !important;
}


.button--flat {
  background: #ff9900;
  /*color: #f9db00;*/
  color: #000;
  border: 0;
  padding: 1rem;
  border-radius: 5px;
  font-size: calc(1rem * var(--ifm-button-size-multiplier));
  font-family: "CCSmash";
  text-transform: uppercase;
  box-shadow:
    inset 4px 4px 4px #ffcc33,
    inset -4px -4px 4px #d85101;
  outline: 4px solid black;
  cursor: pointer;
  /*transition: 0.15s ease-in-out;*/
}
.button--flat:hover {
  background: #fe5600;
  color: #efb500;
  box-shadow:
    inset 4px 4px 4px #fe9c0f,
    inset -4px -4px 4px #b01c00;
}
.button--flat:disabled {
  cursor: default;
  pointer-events: none;
}

.button--flat.red {
  background: #c00;
  /*color: #ff5959;*/
  color: #eee;
  box-shadow:
    inset 4px 4px 4px #eb360e,
    inset -4px -4px 4px #9b0200;
}
.button--flat.red:hover {
  background: #8e0000;
  color: #f81717;
  box-shadow:
    inset 4px 4px 4px #f80000,
    inset -4px -4px 4px #2e0000;
}

.button--flat.blue {
  background: #3399ff;
  /*color: #66ccff;*/
  color: #eee;
  box-shadow:
    inset 4px 4px 4px #83c8cf,
    inset -4px -4px 4px #0033cc;
}
.button--flat.blue:hover {
  background: #072ffd;
  color: #1466fd;
  box-shadow:
    inset 4px 4px 4px #1466fd,
    inset -4px -4px 4px #000766;
}

.button--flat.green {
  background: #57cc33;
  /*color: #cc99ff;*/
  color: #000;
  box-shadow:
    inset 4px 4px 4px #9bd1a9,
    inset -4px -4px 4px #249900;
}
.button--flat.green:hover {
  background: #2d5e0e;
  color: #8ffa37;
  box-shadow:
    inset 4px 4px 4px #8ffa37,
    inset -4px -4px 4px #133800;
}

.button--flat.purple {
  background: #9933cc;
  /*color: #cc99ff;*/
  color: #eee;
  box-shadow:
    inset 4px 4px 4px #d09ac7,
    inset -4px -4px 4px #660099;
}
.button--flat.purple:hover {
  background: #370e5e;
  color: #5e37f9;
  box-shadow:
    inset 4px 4px 4px #5e37f9,
    inset -4px -4px 4px #1f0037;
}

.button--flat.orange {
  background: #ff4500;
  color: #000;
  box-shadow:
    inset 4px 4px 4px #ff9031,
    inset -4px -4px 4px #dc1c01;
}
.button--flat.orange:hover {
  background: #8e2100;
  color: #f84b17;
  box-shadow:
    inset 4px 4px 4px #f84b17,
    inset -4px -4px 4px #441000;
}

.button--flat.pink {
  background: #ff2994;
  color: #000;
  box-shadow:
    inset 4px 4px 4px #ff8383,
    inset -4px -4px 4px #f20069;
}
.button--flat.pink:hover {
  background: #8e0061;
  color: #ed15a9;
  box-shadow:
    inset 4px 4px 4px #ed15a9,
    inset -4px -4px 4px #380026;
}

.button--flat.black {
  background: #1a1a1a;
  color: #eee;
  box-shadow:
    inset 4px 4px 4px #242424,
    inset -4px -4px 4px #0f0f0f;
}
.button--flat.black:hover {
  background: #141414;
  color: #555;
  box-shadow:
    inset 4px 4px 4px #1d1d1d,
    inset -4px -4px 4px #0c0c0c;
}

.button--flat.white {
  background: #d5d5d5;
  color: #000;
  box-shadow:
    inset 4px 4px 4px #e7e7e7,
    inset -4px -4px 4px #c4c4c4;
}
.button--flat.white:hover {
  background: #b0b0b0;
  color: #bebebe;
  box-shadow:
    inset 4px 4px 4px #bebebe,
    inset -4px -4px 4px #a1a1a1;
}


.button--bootstrap {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
  background-color: #007bff;
  border-color: #007bff;
  color: #FFF;
}

.button--bootstrap:hover {
  filter: brightness(60%);
}

.button--bootstrap.yellow {
  background-color: #e0a800;
  border-color: #d39e00;
  color: #212529;
}

.button--bootstrap.red {
  background-color: #c82333;
  border-color: #bd2130;
  color: #FFF;
}

/*#endregion Buttons*/

/*#region Blog*/

.hidden {
  display: none !important;
}

article.margin-bottom--xl {
  margin-bottom: 2rem !important;
  padding-bottom: 3rem !important;
  border-bottom: 2px solid var(--a-tag-colour);
}

.blog-wrapper .main-wrapper .container.margin-vert--lg {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.sidebar_re4s {
  --ifm-navbar-height: 7.5rem !important;
}

.container {
  background-color: var(--ifm-hero-background-color);
  padding: 0rem 2rem;
}

.sidebarItemTitle_pO2u {
  font-family: "CCSmash";
  margin-left: 2px;
}

.yearGroupHeading_rMGB {
  color: var(--subtle);
  border-bottom: .01rem solid var(--a-tag-colour);
}

.sidebarItemLink_mo7H {
  /*border-left: 4px solid transparent;*/
  border-radius: .25rem;
  padding: 4px 8px;
  line-height: 18px;
  display: block;
}

.sidebarItemLink_mo7H:hover {
  background: var(--ifm-menu-color-background-active);
  color: var(--ifm-font-color-base);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.sidebarItemLinkActive_I1ZP {
  background: var(--ifm-menu-color-background-active);
  color: var(--a-tag-colour) !important;
}

.title_f1Hy {
  font-size: 2.5rem !important;
}

.blog-wrapper .main-wrapper .container.margin-vert--lg .col.text--right a,
.theme-doc-footer a {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-content-secondary);
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
}

.blog-wrapper .main-wrapper .container.margin-vert--lg .col.text--right a:hover,
.theme-doc-footer a:hover {
  background: var(--ifm-menu-color-background-hover);
}

/*#endregion Blog*/

/*#region Wiki*/
.sidebarViewport_aRkj {
  margin-top: 2rem;
}

.menu_SIkG {
  padding: 0.5rem !important;
}

.grid {
  grid-gap: .4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
  margin: 1em 0;
}

/* Join the team grid */
.jttGrid {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
}

.card {
  border: .05rem solid #999;
  border-radius: .5rem;
  display: block;
  margin: 0;
  padding: .8rem;
  text-align: center;
}

/* Join the team cards */
.jttCard1, .jttCard2 {
  border: .05rem solid #999;
  border-radius: .5rem;
  display: block;
  margin: 0;
  padding: 1.5rem 1rem;
  text-align: center;
  color: var(--text-colour) !important;
  text-decoration: none !important;
  transition: 0.3s;
  align-content: center;
}

.jttCard1 p, .jttCard2 p {
  margin: 0
}

.jttCard1:hover, .jttCard2:hover {
  background-color: var(--a-tag-colour);
  color: var(--rev-text-colour) !important
}

.jttCard2 {
  grid-row-start: 2;
}

.wiki-parent {
  display: flex;
  flex-direction: row;
}

.wiki-content-col {
  display: flex;
  flex-direction: column;
  order: 1;
  max-width: calc(7 / 12 * 100%) !important;
}

.wiki-infobox-col {
  display: flex;
  order: 2;
  max-width: calc(5 / 12 * 100%) !important;
}

.activeCodeColour {
  color: green;
}

.inactiveCodeColour {
  color: #e13238;
}

.verifiedColour {
  color: #4ae54a;
}

/*#region Admonitions*/
.alert--discord {
  border-left: 5px solid #5865F2 !important;
  background-color: #404EED !important;
  color: white !important;
}

.alert--frantic {
  border-left: 5px solid #cc66ff !important;
  background-color: #640097 !important;
  color: white !important;
}
/*#endregion Admonitions*/

/*#endregion Wiki*/

/*#region Footer*/
.footer {
  background: #1d222a;
  padding: 32px 0;
}

.footer__container {
  max-width: 80%;
  margin: auto;
}

.social__links {
  display: flex;
  justify-content: center;
}

.social__links a {
  color: #FFF;
  margin: 0px 0.65rem;
  font-size: 2em;
  transition: color 0.3s ease-in-out;
}

.discord__logo:hover {
  color: #5865f2;
}

.github__logo:hover {
  color: #2dba4e;
}

.instagram__logo:hover {
  color: #ff0069;
}

.x__logo:hover {
  color: #1DA1f2;
}

.youtube__logo:hover {
  color: #F00;
}

.footer__links {
  font-family: "CCSmash";
  margin: 0;
}

.footer__links a:hover {
  color: var(--custom-green);
  text-decoration: none;
}

.footer__title {
  font-family: "CCSmash";
  text-decoration: underline;
}

.footer__logo {
  aspect-ratio: 473 / 247;
  width: 13rem;
  margin-top: 0;
}

/*#endregion Footer*/


/*#region Media Queries*/

@media screen and (max-width: 498px) {
  .navbar__search-input {
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 50%;
    background: #134900 var(--ifm-navbar-search-input-icon) no-repeat center / 1rem 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .jttCard1, .jttCard2 {
    grid-row-start: unset;
  }
}

@media screen and (max-width: 996px) {

  .homeBg .ytvContainerInner.orange {
    border: none;
    border-radius: 0px;
    padding: 1rem;
    box-shadow: none;
  }

  .navbar--fixed-top {
    height: 5rem;
  }

  .navbar__inner {
    height: 5rem;
    top: 0rem;
  }

  .navbar__brand {
    min-width: calc(100vw - (12vw + 38px));
    justify-content: center;
    margin-left: 0vw;
    padding: 0;
  }

  .navbar__logo {
    display: flex;
    align-items: center;
  }

  .navbar__logo img {
    width: 7rem;
  } 

  .navbar__search-input {
    height: 2.5rem !important;
    width: 10rem;
  }

  .wiki-parent {
    flex-direction: column;
  }

  .wiki-content-col {
    order: 2;
    max-width: 100% !important;
  }

  .wiki-infobox-col {
    order: 1;
    padding: 2rem 0;
    max-width: 100% !important;
  } 
}

@media screen and (max-width: 1058px) {
  /* .navbar__inner {
    font-size: 1.1rem;
  } */
}

@media screen and (min-width: 2000px) {

  .navbar--fixed-top {
    height: 7rem;
  }

  .navbar__inner {
    height: 3rem;
    top: 4rem;
    font-size: 1.25rem;
  }

  .navbar__logo img {
    width: 18rem;
  }

  .navbar__items--right {
    scale: 1.25;
  }

  .sm {
    --ifm-button-size-multiplier: 1 !important;
  }

  .lg {
    --ifm-button-size-multiplier: 1.25 !important;
  }

  .sidebarViewport_aRkj {
    margin-top: 2rem;
  }

  .docSidebarContainer_YfHR {
    --ifm-navbar-height: 10rem !important;
    --doc-sidebar-width: 320px !important;
    font-size: 1.25rem;
  }

  .menu__link {
    line-height: 1.75;
  }

  .footer__title {
    font-size: 1.25rem;
  }

  .social__links a {
    margin: 0px 1.5rem;
    font-size: 2.5em;
  }

  .footer__links {
    font-size: 1.25rem;
  }

  .footer__logo {
    width: 14rem;
    margin-top: 0;
  }

  .footer__copyright {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 4000px) {
  .ytvContainer {
    border-radius: 50px !important;
    padding: 2.5rem 1.75rem 2.25rem 1.75rem !important;
  }

  .ytvContainerInner {
    border: 0.4rem solid black;
    border-radius: 50px;
    box-shadow: 0px 1.3rem 0.5rem inset rgb(0, 0, 0, 0.3);
    padding: 2rem 2rem;
  }

  .navbar--fixed-top {
    height: 9rem;
  }

  .navbar__inner {
    height: 4rem;
    top: 5rem;
    font-size: 1.75rem;
  }

  .navbar__logo img {
    width: 24rem;
  }

  .navbar__items--right {
    scale: 1.5;
  }

  .navbar__search {
    font-size: 1.25rem
  }

  .dropdown__link {
    font-size: 1.75rem;
  } 
    
  .button, .button--flat {
    --ifm-button-size-multiplier: 2;
    outline: 6px solid black;
  }

  .button:focus {
    outline: 6px solid black !important;
  }

  .lg {
    --ifm-button-size-multiplier: 2 !important;
  }

  li::marker {
    font-size: unset !important;
  }

  .sidebarViewport_aRkj {
    margin-top: 3.5rem;
  }

  .docSidebarContainer_YfHR {
    --ifm-navbar-height: 14rem !important;
    --doc-sidebar-width: 500px !important;
    font-size: 1.5rem;
  }

  .menu__link {
    line-height: 2;
  }

  .menu__caret::before,
  .menu__link--sublist-caret::after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 3rem 3rem;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .wiki-content-col {
    max-width: calc(7 / 12 * 100%) !important;
  }
  
  .wiki-infobox-col {
    display: flex;
    order: 2;
    max-width: calc(4 / 12 * 100%) !important;
  }
    
  .footer__title {
    font-size: 1.75rem;
  }

  .social__links a {
    margin: 0px 2rem;
    font-size: 3em;
  }

  .footer__links {
    font-size: 1.5rem;
  }

  .footer__logo {
    width: 20rem;
    margin-top: 0;
  }

  .footer__copyright {
    font-size: 1.75rem;
  }
}

/*#endregion Media Queries*/