.panelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem;
  background: #242526;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 25px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}