.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* 
    background: var(--bg-splash);
    background-size: cover;
    background-repeat: no-repeat;
  */
  background: #600084;
  /*background: linear-gradient(0deg, #A42EE5 0%, #600084 100%);*/
  
}

.logoutContainer {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 5px;
  float: right;
}
